hub:
  config:
    Authenticator:
      admin_users:
        - admin1
      allowed_users:
        - tenant-a-user
        - tenant-b-user
    DummyAuthenticator:
      password: never-do-this
    JupyterHub:
      authenticator_class: dummy

proxy:
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
      service.beta.kubernetes.io/aws-load-balancer-scheme: internal
      service.beta.kubernetes.io/aws-load-balancer-type: external
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
      service.beta.kubernetes.io/aws-load-balancer-ip-address-type: ipv4
singleuser:
  startTimeout: 1200
  profileList:
    - display_name: Tenant A - Training (Ray Client)
      description: "Namespace 'tenant-a-mlops'"
      kubespawner_override:
        image: quay.io/jupyter/pytorch-notebook:cuda12-python-3.11.8
        namespace: tenant-a-mlops 
        cpu_guarantee: 1     
        mem_guarantee: 4G   
        cpu_limit: 2      
        mem_limit: 7G    
      cmd: "start-singleuser.sh"
    
    - display_name: Tenant B - Testing (Serving CPU)
      description: "Namespace 'tenant-b-mlops' | Standard CPU, Quota 1 GPU"
      kubespawner_override:
        image: jupyter/scipy-notebook:python-3.10.11
        namespace: tenant-b-mlops
        cpu_guarantee: 1
        mem_guarantee: 4G
        cpu_limit: 2
        mem_limit: 8G
      cmd: "start-singleuser.sh"

  extraEnv:
    GRANT_SUDO: "yes"
    NOTEBOOK_ARGS: "--allow-root"
  storage:
    dynamic:
      storageClass: gp3
    extraVolumes:
      - name: notebook
        configMap:
          name: notebook
    extraVolumeMounts:
      - name: notebook
        mountPath: /home/jovyan/notebooks
  allowPrivilegeEscalation: true
  serviceAccountName: ${jupyter_single_user_sa_name}

prePuller:
  hook:
    enabled: false
  continuous:
    enabled: false
    
scheduling:
  userScheduler:
    enabled: false
  podPriority:
    enabled: true
  userPlaceholder:
    enabled: false
    replicas: 1
  userPods:
    nodeAffinity:
      matchNodePurpose: prefer