apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hub-db-pvc
  namespace: jhub
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: 1Gi
