image:
  repository: rayproject/ray
  tag: "2.11.0-py311"
  pullPolicy: IfNotPresent


head:
  nodeSelector:
    NodeGroupType: head-cpu

  tolerations: []

  resources:
    requests:
      cpu: "1"
      memory: "4Gi"
      ephemeral-storage: "10Gi"
    limits:
      cpu: "2"
      memory: "6Gi"
      ephemeral-storage: "20Gi"

  command: ["/bin/bash", "-c"]
  args:
    - |
      echo "Starting Ray Head Node on CPU node..."
      ray start --head --port=6379 --dashboard-host=0.0.0.0 --block
      tail -f /dev/null

worker:
  image:
    repository: rayproject/ray
    tag: "2.11.0-py311-gpu"
  nodeSelector:
    NodeGroupType: worker-gpu
  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: "2"
      memory: "4Gi"
      ephemeral-storage: "10Gi"
      nvidia.com/gpu: 1
    limits:
      cpu: "2"
      memory: "6Gi"
      ephemeral-storage: "20Gi"
      nvidia.com/gpu: 1
  replicas: 1
  minReplicas: 1
  maxReplicas: 5
  command: ["/bin/bash", "-c"]
  args:
    - |
      echo "Starting Ray GPU Worker..."
      ray start --address=$RAY_HEAD_SERVICE_HOST:6379 --num-gpus=1
      tail -f /dev/null
