image:
  repository: rayproject/ray
  tag: "2.11.0-py311"
  pullPolicy: IfNotPresent


head:
  nodeSelector:
    NodeGroupType: head-cpu

  tolerations: []  # head node doesn't need GPU taint

  resources:
    requests:
      cpu: "1"
      memory: "4Gi"
      ephemeral-storage: "10Gi"
    limits:
      cpu: "2"
      memory: "6Gi"
      ephemeral-storage: "20Gi"

  command: ["/bin/bash", "-c"]
  args:
    - |
      echo "Starting Ray Head Node on CPU node..."
      ray start --head --port=6379 --dashboard-host=0.0.0.0 --block
      tail -f /dev/null

worker:
  image:
    repository: rayproject/ray-ml
    tag: "2.11.0-py311-gpu"

  nodeSelector:
    NodeGroupType: worker-gpu

  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoExecute"

  resources:
    requests:
      cpu: "2"
      memory: "4Gi"
      ephemeral-storage: "10Gi"
      nvidia.com/gpu: 1
    limits:
      cpu: "4"
      memory: "12Gi"
      ephemeral-storage: "20Gi"
      nvidia.com/gpu: 1

  replicas: 1
  minReplicas: 0
  maxReplicas: 2

  command: ["/bin/bash", "-c"]
  args:
    - |
      echo "Starting Ray Worker Node with GPU support..."
      ray start --address=ray-cluster-kuberay-head-svc:6379 --num-gpus=1 --block
      tail -f /dev/null
